@import 'vars';

header {
  flex: 0 0 100%;
  margin: 0 15px;
}
.dashboard__title {
  @media (max-width: $screen-lg){
    font-size: 20px;
    margin-bottom: 0;
  }
}

.dashboard__lead {
  color: $dark-grey-blue;
  font-weight: 600;
  @media (max-width: $screen-lg){
    font-size: 14px;
    margin: 4px 0;
  }
}
.dashboard {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  float: left;
  padding: 50px 100px; 
  }
  .card {
    position: relative;
    flex: 1 0 18%;
    background: $light-grey-blue;
    padding: 10px;
    margin: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    text-align: center;


    &:nth-child(n+1):nth-child(-n+5) {
      font-size: 20px;
      height: 170px;    
    }
    &:nth-child(n+6) {
      text-align: left;
      margin-bottom: 5px;
      height: 120px;

      .social-icon {
        position: absolute;
        top: 20%;
        right: 10%;
        
      }
      .social-update {
        position: absolute;
        right: 10%;
        bottom: 20px;
      }
    }
    //colour borders

    &:nth-child(2) {
        border-top: 5px solid $colour-fb;
    }
    &:nth-child(3) {
        border-top: 5px solid $colour-twitter;
    }
    &:nth-child(4) {
        border-top: 5px solid transparent;
        border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
        border-image-slice: 1;
    }
    &:nth-child(5) {
        border-top: 5px solid $colour-ytb;
    }
    @media (max-width: $screen-lg){
      flex: 0 0 100%;
    }
  }
  .social-followers {
    text-align: center;
    color: $dark-grey-blue;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
  }
  .social-icon {
      margin-right: 5px;  
      top: 5px;
      position: relative  
  }
  .social-handle {
    color: $dark-grey-blue;
    font-size: 12px;
    font-weight: 700;
  }
  .social-follower-number {
    display: block;
    font-size: 46px;
    font-weight: 700;
    color: black;
    letter-spacing: 0;
  }
  .social-update {
      font-size: 12px;
      font-weight: 700;
  }
  h2 {
    margin: 0 15px;
    color: $dark-grey-blue;
    text-align: left;
    color: black;
    flex: 0 0 100%;
  }
  h3 {
    margin-bottom: 0;
    color: $dark-grey-blue;
    margin-left: 15px;
    
  }
  .social-count {
      font-size: 26px;
      font-weight: 700;
      margin-left: 15px;
  }

  //slider toggle
  .toggle {
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 30px;

    @media (max-width: $screen-lg){
      position: relative;
      width: 100%;
      font-size: 14px;
      &::before {
        position: absolute;
        content: "";
        width: 105%;
        height: 1px;
        background: $dark-grey-blue;
        top: -10px;
      }
    }
  }
  .toggle-label {
    position: absolute;
    right: 220px;
    top: 80px;
    color: $dark-grey-blue;

    @media (max-width: $screen-lg){
      position: relative;
      right: 0;
      top: 0;
    }
  }
  .dark-mode {
    position: relative;
    font-size: 20px;
    top: 10px;
    margin-right: 20px;


  }
  .switch {
    position: absolute;
    right: 150px;
    top: 80px;
    display: inline-block;
    width: 56px;
    height: 26px;

    @media (max-width: $screen-lg){
      top: 0;
      right: -16px;
    }
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: linear-gradient(to right,  hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    -webkit-transition: .6s;
    transition: .6s;
    
    &::before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 5px;
      bottom: 4px;
      background-color: hsl(230, 17%, 14%);
      -webkit-transition: .6s;
      transition: .6s;
    }
  }
  
  input:checked + .slider {
   
    &::before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background-color: hsl(230, 22%, 74%);
    }
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  //dark-mode


  
.dashboard__dark {
  background: $dark-blue;
  .card {
    background: $desaturated-blue;
  }
  .social-followers {
    
  }
  .social-follower-number {
    color: white;
  }
  h1,
  h2,
  .social-count {
    color: white;
  }

}
.icon {
  display: none;
  position: relative;
  top: -2px;
}

// number updater icon
.social-update__positive {
  .icon__up {
    display: inline-block;
  }
}
.social-update__negative {
  .icon__down {
    display: inline-block;
  }
}

